<html>
    <head>
        <title>Simulasi UAs</title>
    </head>
    <body>
         {% extends 'base.html' %}
         <h1>{% block header_text %}Game Tebak Angka{% endblock %}</h1>
         <form method="POST" action="{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}">
         <input name="item_text" id="id_new_item" placeholder="enter a to-do item" />
         
         <span>{% block comment_text %}{{ comment }}{% endblock %}</span>
    </body>
</html>


{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>Angka : {{ item.angka }}, Tebakan :{{ item.tebakan }}, {{ item.status }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
